@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.kartu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  align-items: flex-start;
}

.judul {
  font-family: "Poppins", sans-serif;
  font-size: 5em;
  color: #d83133;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid #d83133;
  background-color: #000000;
  padding: 10px;
  margin-top: 50px;
  margin-left: 190px;
}

.kartu {
  position: relative;
  margin-top: 50px;
  display: flex;
  width: 600px;
  height: 350px;
  background: #ccc;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 10px 20px 0px rgba(0, 0, 0, 0.705);
}

.kartu .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.kartu .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e23636;
  clip-path: circle(120 px at center);
  transition: 0.5s;
}

.kartu .circle:hover:before {
  background: #f78f3f;
  clip-path: circle(400px at center);
}

.kartu img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  pointer-events: none;
  transition: 0.5s;
}

.kartu:hover img {
  left: 72%;
  height: 300px;
}

.kartu .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.kartu:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.kartu .content h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}

.kartu .content p {
  color: #fff;
}

.kartu .content a {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 991px) {
  .kartu {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }
  .kartu:hover {
    height: 600px;
  }
  .kartu .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
  .kartu:hover img {
    top: 70%;
    left: 50%;
    height: 320px;
  }
}

@media (max-width: 420px) {
  .kartu .content {
    padding: 20px;
  }
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: auto;
}
