body {
  background-image: url("../src-aboutus/assets/background.jpg");

}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin: 100 auto;
  justify-content: center;
}

input {
  width: 400px;
  display: block;
  margin: 0 auto;
  padding: 6px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr); /* Adjusted to 2 columns on smaller screens */
    margin: 30px auto; /* Adjusted the margin for smaller screens */
  }

  input {
    width: 70%; /* Adjusted to full width on smaller screens */
    max-width: 200px; /* Added max-width for better responsiveness */
  }
}