.App {
  text-align: center;
}

.App h1 {
  margin-right: 2rem;
  display: inline-block;
}

.App ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.App ul li {
  display: inline-block;
  margin-left: 1rem;
}

.App ul li:last-child {
  margin-right: 0;
}

.App ul li a {
  text-decoration: none;
}

.App .logo {
  margin-right: 20px;
}

.Navbar {
  background-color: #f23d3d;
  padding: 10px;
  margin-bottom: 25px;
}

.Navbar h1 {
  color: black;
}

.Navbar ul {
  display: flex;
  justify-content: center;
}

.Navbar ul li {
  margin: 0 0.5rem;
}

.Navbar ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #660101;
}

.Navbar ul li a:hover {
  color: black;
  background-color: #852222;
}

@media (max-width: 768px) {
  .App h1 {
    margin-right: 0;
  }

  .App ul {
    margin-left: 0;
    text-align: center;
  }

  .App ul li {
    display: block;
    margin: 10px 0;
  }

  .App ul li:last-child {
    margin-bottom: 0;
  }

  .Navbar ul {
    flex-wrap: wrap;
  }

  .Navbar ul li {
    margin: 0.5rem;
  }

  .Navbar ul li a {
    padding: 0.5rem;
  }
}
.Navbar ul li a:hover {
  color: black;
  background-color: #852222;
}
